@import url('https://fonts.googleapis.com/css?family=Karla|Roboto')

@import auth
@import calendar
@import clock
@import status
@import weather

// $bg: url("https://www.toptal.com/designers/subtlepatterns/patterns/zig%20zag%20wool.png")
// $bg: url("https://www.toptal.com/designers/subtlepatterns/patterns/ep_naturalblack.png")
// $bg: url("https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png")
$bg: url("https://www.toptal.com/designers/subtlepatterns/patterns/zwartevilt.png")
$fg: #fff

body
  background: $bg
  color: $fg
  font-family: 'Karla'
  margin: 0
  padding: 0
  overflow: hidden

h1,
h2
  font-family: 'Roboto'
  margin-top: 20pt

  span
    padding-left: 5pt

#app
  #mouse
    cursor: none
    width: 50px
    height: 50px
    position: absolute
    top: 0
    left: 0
