.auth
  font-size: 8pt

  &-loading

  &-login,
  &-logout
    z-index: 999
    display: block
    position: absolute
    opacity: 0
    width: 100%
    height: 100%
    background-color: white

  &-status
    color: white
    opacity: .3
    position: absolute
    bottom: 0
    right: 0
