@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono')

.weather
  margin-top: 20pt

  &-none
    text-align: center

  .temp
    font-family: 'Roboto', sans-serif

    &-time
      text-align: right

    &-time span
      display: inline-block
      text-align: center
      width: 7pt

    &-feel
      letter-spacing: .75pt

    &-divider
      font-size: 12pt
      padding-left: 1pt
      opacity: .40
      letter-spacing: .75pt

    &-actual
      padding-left: 1pt
      opacity: .75
      letter-spacing: .75pt

    &-temp
      text-align: center
